<header>
  <ul>
            <li><img src="<%= asset_path "home.jpg" %>"><%= link_to "トップ", root_path %></li>
            <li><%= link_to "ツイート一覧", tweets_path %></li>
            <li><img src="<%= asset_path "tweet.jpg" %>"><%= link_to "ツイート", new_tweet_path %></li>
    <div class="bird">
    <li><img src="<%= asset_path "bird.png" %>"></li>
    </div>
  </ul>
</header>


<!DOCTYPE html>
<html>
<head>
  <title>Liketwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


